// .preloader {
// 	position: fixed;
// 	top: 0;
// 	left: 0;
// 	width: 100vw;
// 	height: 100vh;
// 	display: flex;
// 	align-items: center;
// 	flex-direction: column;
// 	z-index: 9999;
// 	background: linear-gradient(145deg, rgb(8, 17, 28) 0%, rgb(6, 13, 25) 100%);
// 	transition: all 0.4s;
// 	[data-fls-loaded] & {
// 		opacity: 0;
// 		visibility: hidden;
// 		pointer-events: none;
// 	}
// }

// .preloader__logo {
// 	flex: 1 1 auto;
// }
// .loading-text {
// 	text-align: center;
// 	line-height: 100px;
// 	span {
// 		display: inline-block;
// 		margin: 0 5px;
// 		font-weight: 700;
// 		font-size: 16px;
// 		color: #fff;
// 		&:nth-child(1) {
// 			filter: blur(0px);
// 			animation: blur-text 1.5s 0s infinite linear alternate;
// 		}

// 		&:nth-child(2) {
// 			filter: blur(0px);
// 			animation: blur-text 1.5s 0.2s infinite linear alternate;
// 		}

// 		&:nth-child(3) {
// 			filter: blur(0px);
// 			animation: blur-text 1.5s 0.4s infinite linear alternate;
// 		}

// 		&:nth-child(4) {
// 			filter: blur(0px);
// 			animation: blur-text 1.5s 0.6s infinite linear alternate;
// 		}

// 		&:nth-child(5) {
// 			filter: blur(0px);
// 			animation: blur-text 1.5s 0.8s infinite linear alternate;
// 		}

// 		&:nth-child(6) {
// 			filter: blur(0px);
// 			animation: blur-text 1.5s 1s infinite linear alternate;
// 		}

// 		&:nth-child(7) {
// 			filter: blur(0px);
// 			animation: blur-text 1.5s 1.2s infinite linear alternate;
// 		}

// 		&:nth-child(8) {
// 			filter: blur(0px);
// 			animation: blur-text 1.5s 1.4s infinite linear alternate;
// 		}
// 	}
// }

// @keyframes blur-text {
// 	0% {
// 		filter: blur(0px);
// 	}
// 	100% {
// 		filter: blur(4px);
// 	}
// }
