<div class="preloader" data-fls-loader>
	<div class="preloader__logo">
		<!-- <img src="@img/logo-02.svg" alt="Image"> -->
	</div>
	<div class="preloader__box">
	<div class="loading-text">
		<span class="loading-text-words">L</span>
		<span class="loading-text-words">O</span>
		<span class="loading-text-words">A</span>
		<span class="loading-text-words">D</span>
		<span class="loading-text-words">I</span>
		<span class="loading-text-words">N</span>
		<span class="loading-text-words">G</span>
	</div>
	</div>
	

</div>