<script type="module" src="@components/pages/archive/archive.js"></script>
<link rel="stylesheet" href="@components/pages/archive/archive.scss">

<main class="page archive">
	<div class="element-light"><svg width="1888" height="1687" viewBox="0 0 1888 1687" fill="none"
			xmlns="http://www.w3.org/2000/svg">
			<g clip-path="url(#clip0_2045_11)">
				<path
					d="M1742.63 -1018.57C2020.51 -193.903 1888.11 895.758 1447.06 1415.23C1005.94 1934.68 423.2 1687.28 145.342 862.577C-132.481 37.7994 -0.117329 -1051.83 440.927 -1571.23C881.991 -2090.71 1464.83 -1843.24 1742.63 -1018.57Z"
					fill="url(#paint0_radial_2045_11)" />
			</g>
			<defs>
				<radialGradient id="paint0_radial_2045_11" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
					gradientTransform="translate(944 -78) rotate(90) scale(1765 944)">
					<stop stop-color="#073A5E" />
					<stop offset="1" stop-color="#060C18" stop-opacity="0" />
				</radialGradient>
				<clipPath id="clip0_2045_11">
					<rect width="1888" height="1687" fill="white" />
				</clipPath>
			</defs>
		</svg>
	</div>
	<div class="page__container">
		<section class="archive-main">
			<div class="archive-main__image">
				<img src="@img/blog.svg" alt="Image">
			</div>
			<ul class="bread">
				<li class="--icon-02">
					<a href="">Home</a>
				</li>
				<li class="--icon-02">
					<a href="">News</a>
				</li>
				<li class="--icon-02">
					<a href="">The Evolution</a>
				</li>
			</ul>
			<h1 class="_title">Insights from the Edge</h1>
			<p class="_text">News, stories, and expert insights from the frontlines of cybersecurity and life science
				technology.</p>

			<div class="archive__slider-box"> <button type="button" class="archive-slide-button-prev" data-fls-dynamic=".slider-navigation-box, 499.98, 0"><span><svg width="16"
							height="28" viewBox="0 0 16 28" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M16 25.9L13.913 28L-6.1196e-07 14L13.913 -6.08159e-07L16 2.1L4.2236 14L16 25.9Z"
								fill="url(#paint0_linear_571_56)" />
							<defs>
								<linearGradient id="paint0_linear_571_56" x1="-10.7059" y1="34.1478" x2="-8.68959" y2="1.76097"
									gradientUnits="userSpaceOnUse">
									<stop stop-color="#8EC6FF" />
									<stop offset="1" stop-color="#EDF6FF" />
								</linearGradient>
							</defs>
						</svg>
					</span>
				</button>
				<div data-fls-slider class="archive__slider swiper">

					<!-- Частина слайдера, що рухається -->
					<div class="archive__wrapper swiper-wrapper">
						<!-- Слайд -->
						<div class="archive__slide swiper-slide archive-slide">
							<div class="archive-slide__wrapper">
								<div class="archive-slide__picture">
									<img src="@img/single.jpg" alt="Image">
								</div>
								<div class="archive-slide__body">
									<div class="archive-slide__date">May 10, 2025</div>
									<div class="archive-slide__box">
										<div class="archive-slide__title">The Evolution</div>
										<div class="archive-slide__info">Stay informed with the latest trends, expert tips, and
											threat analysis from the world of cybersecurity. Empower your defense with knowledge.
										</div>
									</div>
									<div class="archive-slide__actions">
										<a href="#" class=" _link">Read More &gt;</a>
									</div>
								</div>
							</div>
						</div>
						<div class="archive__slide swiper-slide archive-slide">
							<div class="archive-slide__wrapper">
								<div class="archive-slide__picture">
									<img src="@img/single.jpg" alt="Image">
								</div>
								<div class="archive-slide__body">
									<div class="archive-slide__date">May 10, 2025</div>
									<div class="archive-slide__box">
										<div class="archive-slide__title">The Evolution</div>
										<div class="archive-slide__info">Stay informed with the latest trends, expert tips, and
											threat analysis from the world of cybersecurity. Empower your defense with knowledge.
										</div>
									</div>
									<div class="archive-slide__actions">
										<a href="#" class=" _link">Read More &gt;</a>
									</div>
								</div>
							</div>
						</div>
						<div class="archive__slide swiper-slide archive-slide">
							<div class="archive-slide__wrapper">
								<div class="archive-slide__picture">
									<img src="@img/single.jpg" alt="Image">
								</div>
								<div class="archive-slide__body">
									<div class="archive-slide__date">May 10, 2025</div>
									<div class="archive-slide__box">
										<div class="archive-slide__title">The Evolution</div>
										<div class="archive-slide__info">Stay informed with the latest trends, expert tips, and
											threat analysis from the world of cybersecurity. Empower your defense with knowledge.
										</div>
									</div>
									<div class="archive-slide__actions">
										<a href="#" class=" _link">Read More &gt;</a>
									</div>
								</div>
							</div>
						</div>
						<div class="archive__slide swiper-slide archive-slide">
							<div class="archive-slide__wrapper">
								<div class="archive-slide__picture">
									<img src="@img/single.jpg" alt="Image">
								</div>
								<div class="archive-slide__body">
									<div class="archive-slide__date">May 10, 2025</div>
									<div class="archive-slide__box">
										<div class="archive-slide__title">The Evolution</div>
										<div class="archive-slide__info">Stay informed with the latest trends, expert tips, and
											threat analysis from the world of cybersecurity. Empower your defense with knowledge.
										</div>
									</div>
									<div class="archive-slide__actions">
										<a href="#" class=" _link">Read More &gt;</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="slider-navigation-box"><div class="archive-slide-pagination"></div></div>
					<!-- Якщо потрібна пагінація -->
					
					<!-- Якщо потрібна навігація (ліворуч/праворуч) -->


				</div>
				<button type="button" class="archive-slide-button-next "data-fls-dynamic=".slider-navigation-box, 499.98, 2"><span><svg width="16" height="28"
							viewBox="0 0 16 28" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path
								d="M8.6188e-07 2.1L2.08696 -6.08158e-07L16 14L2.08696 28L-1.78451e-07 25.9L11.7764 14L8.6188e-07 2.1Z"
								fill="url(#paint0_linear_571_49)" />
							<defs>
								<linearGradient id="paint0_linear_571_49" x1="26.7059" y1="-6.14783" x2="24.6896" y2="26.239"
									gradientUnits="userSpaceOnUse">
									<stop stop-color="#8EC6FF" />
									<stop offset="1" stop-color="#EDF6FF" />
								</linearGradient>
							</defs>
						</svg>
					</span>
				</button>
			</div>
		</section>
		<section class="archive-main">
			<div class="archive-main__container">
				<div class="carts" data-fls-watcher-once data-fls-watcher>
					<div class="cart" data-fls-watcher-once data-fls-watcher>
						<div class="cart__wrapper">
							<div class="cart__picture">
								<img src="@img/single.jpg" alt="Image">
							</div>
							<div class="cart__body">
								<span class="cart__date">May 10, 2025</span>
								<h2 class="cart__title">The Evolution</h2>
								<h4 class="cart__info">Stay informed with the latest trends, expert tips, and threat analysis
									from the world of cybersecurity. Empower your defense with knowledge.</h4>
								<div class="cart__action">
									<a href="#" class="cart__link _link">Read More ></a>
								</div>
							</div>
						</div>
					</div>
					<div class="cart" data-fls-watcher-once data-fls-watcher>
						<div class="cart__wrapper">
							<div class="cart__picture">
								<img src="@img/single.jpg" alt="Image">
							</div>
							<div class="cart__body">
								<span class="cart__date">May 10, 2025</span>
								<h2 class="cart__title">The Evolution</h2>
								<h4 class="cart__info">Stay informed with the latest trends, expert tips, and threat analysis
									from the world of cybersecurity. Empower your defense with knowledge.</h4>
								<div class="cart__action">
									<a href="#" class="cart__link _link">Read More ></a>
								</div>
							</div>
						</div>
					</div>
					<div class="cart" data-fls-watcher-once data-fls-watcher>
						<div class="cart__wrapper">
							<div class="cart__picture">
								<img src="@img/single.jpg" alt="Image">
							</div>
							<div class="cart__body">
								<span class="cart__date">May 10, 2025</span>
								<h2 class="cart__title">The Evolution</h2>
								<h4 class="cart__info">Stay informed with the latest trends, expert tips, and threat analysis
									from the world of cybersecurity. Empower your defense with knowledge.</h4>
								<div class="cart__action">
									<a href="#" class="cart__link _link">Read More ></a>
								</div>
							</div>
						</div>
					</div>
					<div class="cart" data-fls-watcher-once data-fls-watcher>
						<div class="cart__wrapper">
							<div class="cart__picture">
								<img src="@img/single.jpg" alt="Image">
							</div>
							<div class="cart__body">
								<span class="cart__date">May 10, 2025</span>
								<h2 class="cart__title">The Evolution</h2>
								<h4 class="cart__info">Stay informed with the latest trends, expert tips, and threat analysis
									from the world of cybersecurity. Empower your defense with knowledge.</h4>
								<div class="cart__action">
									<a href="#" class="cart__link _link">Read More ></a>
								</div>
							</div>
						</div>
					</div>
					<div class="cart" data-fls-watcher-once data-fls-watcher>
						<div class="cart__wrapper">
							<div class="cart__picture">
								<img src="@img/single.jpg" alt="Image">
							</div>
							<div class="cart__body">
								<span class="cart__date">May 10, 2025</span>
								<h2 class="cart__title">The Evolution</h2>
								<h4 class="cart__info">Stay informed with the latest trends, expert tips, and threat analysis
									from the world of cybersecurity. Empower your defense with knowledge.</h4>
								<div class="cart__action">
									<a href="#" class="cart__link _link">Read More ></a>
								</div>
							</div>
						</div>
					</div>
					<div class="cart" data-fls-watcher-once data-fls-watcher>
						<div class="cart__wrapper">
							<div class="cart__picture">
								<img src="@img/single.jpg" alt="Image">
							</div>
							<div class="cart__body">
								<span class="cart__date">May 10, 2025</span>
								<h2 class="cart__title">The Evolution</h2>
								<h4 class="cart__info">Stay informed with the latest trends, expert tips, and threat analysis
									from the world of cybersecurity. Empower your defense with knowledge.</h4>
								<div class="cart__action">
									<a href="#" class="cart__link _link">Read More ></a>
								</div>
							</div>
						</div>
					</div>
					<div class="cart" data-fls-watcher-once data-fls-watcher>
						<div class="cart__wrapper">
							<div class="cart__picture">
								<img src="@img/single.jpg" alt="Image">
							</div>
							<div class="cart__body">
								<span class="cart__date">May 10, 2025</span>
								<h2 class="cart__title">The Evolution</h2>
								<h4 class="cart__info">Stay informed with the latest trends, expert tips, and threat analysis
									from the world of cybersecurity. Empower your defense with knowledge.</h4>
								<div class="cart__action">
									<a href="#" class="cart__link _link">Read More ></a>
								</div>
							</div>
						</div>
					</div>
					<div class="cart" data-fls-watcher-once data-fls-watcher>
						<div class="cart__wrapper">
							<div class="cart__picture">
								<img src="@img/single.jpg" alt="Image">
							</div>
							<div class="cart__body">
								<span class="cart__date">May 10, 2025</span>
								<h2 class="cart__title">The Evolution</h2>
								<h4 class="cart__info">Stay informed with the latest trends, expert tips, and threat analysis
									from the world of cybersecurity. Empower your defense with knowledge.</h4>
								<div class="cart__action">
									<a href="#" class="cart__link _link">Read More ></a>
								</div>
							</div>
						</div>
					</div>
					<div class="cart" data-fls-watcher-once data-fls-watcher>
						<div class="cart__wrapper">
							<div class="cart__picture">
								<img src="@img/single.jpg" alt="Image">
							</div>
							<div class="cart__body">
								<span class="cart__date">May 10, 2025</span>
								<h2 class="cart__title">The Evolution</h2>
								<h4 class="cart__info">Stay informed with the latest trends, expert tips, and threat analysis
									from the world of cybersecurity. Empower your defense with knowledge.</h4>
								<div class="cart__action">
									<a href="#" class="cart__link _link">Read More ></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="pagination">
					<nav>
						<ul>
							<li>
								<a href="" class="prev">
									<svg width="16" height="28" viewBox="0 0 16 28" fill="none"
										xmlns="http://www.w3.org/2000/svg">
										<path d="M16 2.1L13.913 -6.08158e-07L6.11959e-07 14L13.913 28L16 25.9L4.2236 14L16 2.1Z"
											fill="url(#paint0_linear_579_130)" />
										<defs>
											<linearGradient id="paint0_linear_579_130" x1="-10.7059" y1="-6.14783" x2="-8.68959"
												y2="26.239" gradientUnits="userSpaceOnUse">
												<stop stop-color="#8EC6FF" />
												<stop offset="1" stop-color="#EDF6FF" />
											</linearGradient>
										</defs>
									</svg>

								</a>
							</li>
							<li>
								<a href="" class="current"><span>1</span></a>
							</li>
							<li>
								<a href=""><span>2</span></a>
							</li>
							<li>
								<a href=""><span>3</span></a>
							</li>
							<li>
								<a href="" class="dots"><span>...</span></a>
							</li>
							<li>
								<a href=""><span>12</span></a>
							</li>
							<li>
								<a href=""><span>13</span></a>
							</li>
							<li>
								<a href=""><span>14</span></a>
							</li>
							<li>
								<a href="" class="next"><svg width="16" height="28" viewBox="0 0 16 28" fill="none"
										xmlns="http://www.w3.org/2000/svg">
										<path
											d="M8.6188e-07 2.1L2.08696 -6.08158e-07L16 14L2.08696 28L-1.78451e-07 25.9L11.7764 14L8.6188e-07 2.1Z"
											fill="url(#paint0_linear_579_129)" />
										<defs>
											<linearGradient id="paint0_linear_579_129" x1="26.7059" y1="-6.14783" x2="24.6896"
												y2="26.239" gradientUnits="userSpaceOnUse">
												<stop stop-color="#8EC6FF" />
												<stop offset="1" stop-color="#EDF6FF" />
											</linearGradient>
										</defs>
									</svg>
								</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</section>
	</div>
	<include src="@components/custom/subscribe/subscribe.html"></include>
	<include src="@components/custom/contacts/contacts.html"></include>

</main>