.subscribe {
	&__container {
		@include adaptiveValue("padding-top", 100, 50, 0, 1919.98, 375);
		@include adaptiveValue("padding-bottom", 100, 50, 0, 1919.98, 375);
	}

	&__title {
		text-align: center;
		font-weight: 500;
		@include adaptiveValue("font-size", 26, 18, 0, 1919.98, 375);
		margin-bottom: 30px;
		background: -webkit-linear-gradient(0deg, #8ec6ff, #edf6ff);
		-webkit-background-clip: text;
		line-height: 130%;
		-webkit-text-fill-color: transparent;

		@media (min-width: toEm(320)) {
			max-width: 70%;
			margin-left: auto;
			margin-right: auto;
		}

		@media (min-width: toEm($mobile)) {
			max-width: 100%;
		}

		opacity: 0;
		visibility: hidden;
		transform: translateY(20px);
		transition: all 0.6s ease 0s;

		&.--watcher-view {
			opacity: 1;
			visibility: visible;
			transform: translate(0, 0);
		}
	}

	&__form {
		max-width: 500px;
		margin: 0 auto;
	}

	&__form-item {
		position: relative;
		height: 54px;

		input {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			height: 54px;
			min-height: 54px !important;
			outline: none;
			border: 1px solid #003558;
			border-radius: 100px !important;

			&::placeholder {
				color: #a7d3ff;
				font-weight: 500;
				font-size: 17px;
			}

			color: $whiteColor;
			padding-left: 30px;
			font-weight: 500;
			padding-right: 170px;
		}

		button {
			position: absolute;
			top: 0;
			right: 0;
			width: 140px;
			transition: all 0.4s;
			height: 54px;
			font-weight: 500;
			font-size: 17px;
			border-radius: 100px;
			border: 1px solid #003558;
			display: flex;
			justify-content: center;
			background: radial-gradient(circle, rgb(11 24 44) 0%, rgba(0, 53, 88, 0) 100%);
			align-items: center;
			z-index: 2;

			@media (any-hover: hover) {
				&:hover {
					color: $whiteColor;
				}
			}
		}

		opacity: 0;
		visibility: hidden;
		transform: translateY(20px);
		transition: all 0.6s ease 0s;

		&.--watcher-view {
			opacity: 1;
			visibility: visible;
			transform: translate(0, 0);
		}

		&.--form-error {
			input {
				border: 1px solid #95312f;

			}

		}
	}
}

.line {}

.input {}

.button {}