<section class="subscribe" data-fls-subscribe>
	<div class="line">
		<span></span>
	</div>
	<div class="subscribe__container">
		<div class="subscribe__title" data-fls-watcher-once data-fls-watcher>Subscribe to our newsletter for daily industry insights</div>
		<form class="subscribe__form" action="files/sendmail/sendmail.php" method="POST" data-fls-form="dev" data-fls-form-popup="subsc-popup"><div class="bt-spinner"></div>
			<div class="subscribe__form-item" data-fls-watcher-once data-fls-watcher>
				<input type="email" name="form[email]" placeholder="E-mail" class="input" required>
				<button type="submit" class="button">Subscribe</button>
			</div>
		</form>
	</div>
	<div class="line">
		<span class="_to-right"></span>
	</div>
</section>