<header data-fls-header data-fls-header-scroll class="header">
	<div class="header__wrapper">
		<a href="/" class="header__logo">
			<picture>
				<source media="(max-width: 991.98px)" srcset="@img/logo.svg" />
				<!-- <source media="(max-width: 1170.98px)" srcset="@img/logo-03.svg" > -->
				<img src="@img/logo.svg" alt="Logo" />
			</picture>
		</a>
		<div class="header__menu menu">
			<nav class="menu__body">
				<ul class="menu__list">
					<li class="current-menu-item">
						<a href="" data-fls-scrollto-header data-fls-scrollto="#about"><span>About us</span></a>
					</li>
					<li>
						<button type="button" class="--icon-02"><span>Divisions</span></button>
						<div class="menu__sublist">
							<ul>
								<li>
									<a href="#" data-fls-scrollto-header >Blue Island Security</a>
								</li>
								<li>
									<a href="#" data-fls-scrollto-header >Blue Island Services</a>
								</li>
								<li>
									<a href="#" data-fls-scrollto-header >Blue Island Search</a>
								</li>
							</ul>
						</div>
					</li>
					<li>
						<a href="" class="menu__link" data-fls-scrollto-header data-fls-scrollto="#solution"><span>Solution
								briefs</span></a>
					</li>
					<li>
						<a href="" class="menu__link" data-fls-scrollto-header data-fls-scrollto="#why"><span>Why choose
								us</span></a>
					</li>
					<li>
						<a href="" class="menu__link" data-fls-scrollto-header
							data-fls-scrollto="#methodology"><span>Methodology</span></a>
					</li>
					<li class="menu__item">
						<a href="" class="menu__link" data-fls-scrollto-header
							data-fls-scrollto="#partners"><span>Partners</span></a>
					</li>
					<li class="menu__item">
						<a href="" class="menu__link" data-fls-scrollto-header data-fls-scrollto="#news"><span>News</span></a>
					</li>
				</ul>
			</nav>
		</div>
		<div class="header__actions">
			<a href="#" class="header__link _button" data-fls-scrollto-header data-fls-scrollto="#contacts"><span
					class="_button-text">Contact us </span>
				<span class="icon-element"><span class="--icon-01"></span></span>
			</a>
		</div>
		<button type="button" class="menu__icon icon-menu" data-fls-menu>
			<span></span>
		</button>
		<!-- <include src="@components/layout/menu/menu.html" locals='{"active":"[[active]]"}'></include> -->
	</div>
</header>