<script type="module" src="@components/pages/documants/documants.js"></script>
<link rel="stylesheet" href="@components/pages/documants/documants.scss">

<main class="page documants">
	<section class="documants__section">
		<div class="element-light"><svg width="1888" height="1687" viewBox="0 0 1888 1687" fill="none"
			xmlns="http://www.w3.org/2000/svg">
			<g clip-path="url(#clip0_2045_11)">
				<path
					d="M1742.63 -1018.57C2020.51 -193.903 1888.11 895.758 1447.06 1415.23C1005.94 1934.68 423.2 1687.28 145.342 862.577C-132.481 37.7994 -0.117329 -1051.83 440.927 -1571.23C881.991 -2090.71 1464.83 -1843.24 1742.63 -1018.57Z"
					fill="url(#paint0_radial_2045_11)" />
			</g>
			<defs>
				<radialGradient id="paint0_radial_2045_11" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
					gradientTransform="translate(944 -78) rotate(90) scale(1765 944)">
					<stop stop-color="#073A5E" />
					<stop offset="1" stop-color="#060C18" stop-opacity="0" />
				</radialGradient>
				<clipPath id="clip0_2045_11">
					<rect width="1888" height="1687" fill="white" />
				</clipPath>
			</defs>
		</svg>
	</div>
	<div class="page__container">
		<h1 class="documants__title">Terms of Use</h1>
		<p class="documants__info _italic">Last updated: July 28, 2025</p>
		<p class="documants__info">Welcome to the website of Blue Island Security. By accessing or using our site, you agree to be bound by the following Terms of Use.</p>
		<div class="documants__items">
			<div class="documants__item item-documents">
				<div class="item-documents__title">Acceptance of Terms</div>
				<div class="item-documents__info">
					<p>By using this website, you agree to comply with these Terms of Use and all applicable laws and regulations.</p>
				</div>
			</div>
			<div class="documants__item item-documents">
				<div class="item-documents__title">Use of Website</div>
				<div class="item-documents__info">
					<p>You agree to use our website only for lawful purposes. You may not use it in any way that could damage the site or interfere with other users’ access.</p>
				</div>
			</div>
			<div class="documants__item item-documents">
				<div class="item-documents__title">User Submissions</div>
				<div class="item-documents__info">
					<p>When you submit information via the contact form (such as your name, email, and message), you agree that:</p>
					<ul>
						<li>•	The information you provide is accurate and lawful;</li>
						<li>•	We may contact you based on the information you provide;</li>
						<li>•	You are not submitting confidential or proprietary information.</li>
					</ul>
				</div>
			</div>
			<div class="documants__item item-documents">
				<div class="item-documents__title">Intellectual Property</div>
				<div class="item-documents__info">
					<p>All content on this website (text, graphics, logo, etc.) is the property of Blue Island Security and is protected by copyright laws. You may not reproduce or distribute any part of this site without written permission.</p>
				</div>
			</div>
			<div class="documants__item item-documents">
				<div class="item-documents__title">Limitation of Liability</div>
				<div class="item-documents__info">
					<p>We make every effort to ensure the accuracy of the content on our website. However, we do not guarantee that the information is error-free or up-to-date. We are not liable for any damages arising from your use of this website.</p>
				</div>
			</div>
			<div class="documants__item item-documents">
				<div class="item-documents__title">Third-Party Links</div>
				<div class="item-documents__info">
					<p>Our website may contain links to third-party sites. We are not responsible for the content or privacy practices of these sites.</p>
				</div>
			</div>
			<div class="documants__item item-documents">
				<div class="item-documents__title">Modifications</div>
				<div class="item-documents__info">
					<p>Blue Island Security reserves the right to change these Terms at any time. Continued use of the site after changes are posted constitutes your acceptance of the new Terms.</p>
				</div>
			</div>
		</div>
	</div></section>
		<div class="line">
		<span class="_to-right"></span>
	</div>
		<include src="@components/custom/contacts/contacts.html"></include>

</main>