// <SELECT>
// Сніппет (HTML): sel
.select {
	min-width: 0;
	position: relative;
	opacity: 0;
		visibility: hidden;
		transform: translateY(20px);
		transition: all 0.6s;

		&.--watcher-view {
			opacity: 1;
			visibility: visible;
			transform: translate(0, 0);
		}
	&:not(:last-child) {
		margin-bottom: 10px;
	}

	// .select__body
	&__body {
		position: relative;
	}

	// .select__title
	&__title {
		color: inherit;
		text-align: left;

		border-radius: 10px;
		background: linear-gradient(180deg, rgba(168, 188, 255, 0.527) 0%, rgba(144, 179, 232, 0.144) 100%);
		padding: 1px;
		cursor: pointer;
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	// .select__value
	&__value {
		display: flex;
		min-width: 0;
		align-items: center;
		font-weight: 500;
		gap: 10px;
		border-radius: 10px;
		height: 100%;
		line-height: 130%;
		min-height: 68px;
		padding: 10px;
		background-color: #060e1b;

		> * {
			flex: 1 1 auto;
		}

		&:after {
			content: "\f107";
			align-self: stretch;
			font-family: iconfont;
			flex: 0 0 10px;
			transition: all 0.3s ease 0s;
			display: flex;
			justify-content: center;
			align-items: center;
			flex: 0 0 20px;
			transform: rotate(90deg);

			.--select-open & {
				transform: rotate(-90deg);
			}
		}

		&.--select-pseudo-label {
			&::before {
				content: attr(data-pseudo-label);
				opacity: 0.5;
			}
		}
	}

	// .select__content
	&__content {
		flex: 1 1 auto;
		padding: 0 10px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	// .select__text
	&__text {
		flex: 1 1 auto;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	&__input {
		padding: 0 10px;
		width: 100%;
		background-color: transparent;
		height: 100%;

		.--select-active & {
			&::placeholder {
				color: #000;
			}
		}

		.--select-focus & {
			&::placeholder {
				opacity: 0.5;
			}
		}
	}

	// .select__options
	&__options {
		color: #000;
		position: absolute;
		top: calc(100% + toRem(10));
		border-radius: 0 0 4px 4px;
		min-width: 100%;
		left: 0;
		background-color: #060e1b;
		border-top: 0;
		border: 1px solid #d9d9d9b2;
		// padding: 10px 0px 5px 0px;
		border-radius: 10px;
	}

	// .select__scroll
	&__scroll {
		overflow-y: auto;
		overflow-x: hidden;
		padding: 14px 10px;
		// Максимальна висота
		max-height: toRem(200);

		// Стилі скроллбару
		.simplebar-scrollbar {
			&::before {
				//opacity: 1;
			}
		}
	}

	// .select__option
	&__option {
		width: 100%;
		text-align: left;
		cursor: pointer;
		padding: 8px 12px;
		color: inherit;
		color: #E4F2FF;
		border-radius: 6px;
		// transition: all 0.2s;
		border: 1px solid rgba(107, 127, 171, 0);

		&.--select-selected {
			background-color: #eee;
		}

		@media (any-hover: hover) {
			&:hover {
				background: rgba(7, 16, 27, 0.71);
				border: 1px solid rgba(107, 127, 171, 0.5);
			}
		}
	}

	// Конструкція додаткових даних
	&__row {
		display: inline-flex;
		align-items: center;
	}

	&__asset {}

	&__text {}

	&--show-top {
		.select__options {
			top: auto;
			bottom: calc(100% - toRem(1));
			border: 1px solid #d9d9d9;
			border-bottom: 0;
			border-radius: 4px 4px 0 0;
			padding: 5px 0px 10px 0px;
		}
	}

	// Стан селекту
	&.--select-open {}

	&.--select-disabled {}

	&.--select-active {}

	&.--select-focus {}

	&.--select-multiple {}

	&.--select-checkbox {}
}

// Тег
.--select-tag {
	cursor: pointer;
}