.header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 50;
	// position: fixed;
	// top: 0;
	// left: 0;
	width: 100vw;
	height: auto;
	transition: all 0.4s;
	background-color: transparent;

	&.--header-scroll {
		@media (min-width: toEm(320)) {
			background-color: rgba(6, 14, 26, 0.8);
		}

		@media (min-width: toEm(991.98)) {
			background-color: rgba(6, 14, 26, 0.4);
			backdrop-filter: blur(4px);
		}
	}

	&__wrapper {
		max-width: 1650px;
		padding-left: 15px;
		padding-right: 15px;
		margin: 0 auto;
		width: 100%;
		transition: all 0.4s;
		display: flex;
		align-items: center;
		gap: 20px;
		justify-content: space-between;

		.--header-scroll & {
			padding-top: 10px;
			padding-bottom: 10px;
		}

		@media (min-width: toEm(320)) {
			padding-top: 10px;
			padding-bottom: 10px;

			.icon-element {
				display: none;
			}
		}

		@media (min-width: toEm(991.98)) {
			padding-top: 30px;
			padding-bottom: 30px;

			.icon-element {
				display: block;
			}
		}
	}

	&__logo {
		position: relative;
		z-index: 1;
		opacity: 0;
		visibility: hidden;
		transform: translateX(-20px);
		transition: all 0.4s;

		[data-fls-loaded] & {
			opacity: 1;
			visibility: visible;
			transform: translate(0, 0);
		}

		img {
			// width: 238px;
			height: auto;
			object-fit: contain;

			@media (min-width: toEm(320)) {
				width: 180px;
			}

			// @media (min-width: toEm(500)) {
			// 	width: 200px;
			// }
			// @media (min-width: toEm(991.98)) {
			// 	width: 50px;
			// }
			// @media (min-width: toEm(1023.98)) {
			// 	width: 60px;
			// }
			@media (min-width: toEm(1170.98)) {
				width: 220px;
			}

			@media (min-width: toEm(1439.98)) {
				width: 238px;
			}
		}
	}

	&__menu {
		opacity: 0;
		visibility: hidden;

		transform: translateY(-20px);
		transition: all 0.4s ease 0s;

		[data-fls-loaded] & {
			opacity: 1;
			visibility: visible;
			transform: translate(0, 0);
		}
	}

	&__actions {
		opacity: 0;
		visibility: hidden;

		transform: translateX(20px);
		transition: all 0.4s ease 0s;

		[data-fls-loaded] & {
			opacity: 1;
			visibility: visible;
			transform: translate(0, 0);
		}

		._button-text {
			white-space: nowrap;

			@media (min-width: toEm(320)) {
				font-size: 14px;
			}

			@media (min-width: toEm(1439.98)) {
				font-size: 17px;
			}
		}

		@media (min-width: toEm(320)) {
			display: none;
		}

		// @media (min-width: toEm(500)) {
		// flex: 1 1 auto;
		// display: flex;
		// justify-content: flex-end;
		// }
		// @media (min-width: toEm(991.98)) {
		// display: block;
		// flex: none;
		// }
		@media (min-width: toEm(1170.98)) {
			display: block;
		}
	}

	&__link {
		&.--navigator-active {
			box-shadow: 0px 0px 10px 0px #7997b9;

			._button-text {
				color: $whiteColor;
			}

			.icon-element {
				transform: scale(0);
			}
		}
	}
}

.menu {
	&__icon {
		z-index: 1;
		opacity: 0;
		visibility: hidden;
		transform: translateX(20px);
		transition: all 0.4s;

		[data-fls-loaded] & {
			opacity: 1;
			visibility: visible;
			transform: translate(0, 0);
		}

	}

	&__body {
		padding: 1px;

		@media (min-width: toEm(320)) {
			// background-color: rgba(6, 14, 26, 0.4);
			// backdrop-filter: blur(4px);
			// background: linear-gradient(180deg, rgb(16, 28, 46) 0%, rgb(10, 23, 39) 100%);
		}

		@media (min-width: toEm(991.98)) {
			border-radius: 10px;
			// overflow: hidden;
			background: linear-gradient(180deg, rgba(168, 188, 255, 1) 0%, rgba(144, 179, 232, 0.144) 100%);
		}

		ul.menu__list {
			padding-top: 10px;
			padding-bottom: 10px;

			display: flex;
			align-items: center;
			gap: 10px;

			li {
				position: relative;

				button,
				a {
					display: block;
					padding: 1px;
					font-weight: 600;
					// font-size: 17px;
					border-radius: 5px;
					overflow: hidden;
					transition: all 0.4s;
					// background: linear-gradient(180deg, rgba(168, 188, 255, 0) 0%, rgba(144, 179, 232, 0) 100%);

					span {
						transition: all 0.4s;
						white-space: nowrap;
						padding: 9px;
						display: inline-block;
						border-radius: 5px;
						// background: linear-gradient(180deg, rgba(16, 28, 46, 0) 0%, rgba(10, 23, 39, 0) 100%);
						border: 1px solid transparent;
					}

					@media (min-width: toEm(320)) {
						font-size: 20px;
					}

					@media (min-width: toEm(991.98)) {
						font-size: 14px;
					}

					@media (min-width: toEm(1439.98)) {
						font-size: 17px;
					}
					&.--navigator-active{
						color: $whiteColor;
						pointer-events: none;
					}
				}

				@media (any-hover: hover) {
					&:hover {
						button {
							&::before {
								transform: rotate(-90deg);
							}
						}

						.menu__sublist {
							top: calc(100% - 10px);

							opacity: 1;
							visibility: visible;
							pointer-events: all;
						}
					}
				}

				button {
					display: flex;
					align-items: center;
					gap: 6px;
					flex-direction: row-reverse;

					&::before {
						font-size: 10px;
						transition: all 0.4s;
						transform: rotate(90deg);
					}

					span {
						padding-right: 0px;
					}@media (max-width:toEm(991.98)){display: none;}
				}

				// &.current-menu-item {
				a.--navigator-active {
					// background: linear-gradient(180deg, rgba(168, 188, 255, 1) 0%, rgba(144, 179, 232, 0.144) 100%);

					span {
						color: $whiteColor;
						background: rgb(10, 23, 39);
						border: 1px solid #7997b9;
						// background: linear-gradient(180deg, rgba(16, 28, 46, 1) 0%, rgb(10, 23, 39) 100%);
					}

					// }
				}

				.menu__sublist {
					@media (min-width:toEm(991.98)){
						  		position: absolute;
					top: calc(120% + 24px);
					left: 50%;
					transform: translateX(-50%);
					width: 220px;transition: all 0.4s;
					opacity: 0;
					visibility: hidden;
					pointer-events: none;
					padding-top: 34px;
					}
			

					

					ul {@media (min-width:toEm(991.98)){
						background: linear-gradient(180deg, rgb(16, 28, 46) 0%, rgb(10, 23, 39) 100%);
						border-radius: 10px;
						padding: 16px;
						border: 1px solid #7997b967;}
					}

					li {
						a {
							text-align: center;

							@media (any-hover: hover) {
								&:hover {
									color: #fff;
								}
							}
						}

						&:not(:last-child) {
							// margin-bottom: 10px;
						}
					}
				}

				@media (any-hover: hover) {
					&:hover {

						button
						 {
							span {
								color: $whiteColor;
							}

							&::before {
								color: $whiteColor;
							}
						}
					}
				}
			}

			@media (min-width: toEm(320)) {
				padding-right: 20px;
				padding-left: 20px;
				height: 100%;
				flex-direction: column;
				justify-content: center;
			}

			@media (min-width: toEm(991.98)) {
				border-radius: 10px;
				// overflow: hidden;
				height: auto;
				flex-direction: row;
				background: linear-gradient(180deg, rgba(16, 28, 46, 1) 0%, rgb(10, 23, 39) 100%);
			}

			@media (min-width: toEm(1439.98)) {
				padding-right: 40px;
				padding-left: 40px;
			}
		}
	}

	&__list {}

	&__item {}

	&__link {}
}

.menu__body > ul {}

// --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// [data-fls-menu-open] header.header {
// 	backdrop-filter: none;
// 	transition: all 0s !important;
// }
.menu {
	@media (max-width: toEm(991.98)) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	 pointer-events: none;
	}
	// .menu__icon
	// @media (min-width: toEm(320)) {
	// 	display: none;
	// }
	// @media (min-width: toEm(991.98)) {
	// 	display: block;
	// }
	&__icon {}

	// .menu__body
	&__body {
		@media (max-width: toEm(991.98)) {
			position: fixed;
			width: 100%;
			height: 100svh;
			left: 0%;
			top: 0;
			overflow: auto;
			// padding: 50px 15px 30px 15px;
			transition: all 0.3s;
			// background-color: #a7d3ff62;
			// backdrop-filter: blur(10px);
			opacity: 0;
			visibility: hidden;
			pointer-events: none;
			background-color: rgb(6 14 26 / 93%);
			backdrop-filter: blur(4px);
			-webkit-backdrop-filter: blur(4px);

			// &::before {
			// 	content: "";
			// 	position: fixed;
			// 	width: 100%;
			// 	height: 70px;
			// 	left: -100%;
			// 	top: 0;
			// 	transition: left 0.3s;
			// 	z-index: 2;
			// }
			[data-fls-menu-open] & {
				left: 0;
				opacity: 1;
				visibility: visible;
				pointer-events: all;
				// &::before {
				// 	left: 0;
				// }
			}
		}
	}

	// .menu__list
	&__list {
		@media (max-width: toEm(991.98)) {}
	}

	// .menu__item
	&__item {}

	// .menu__link
	&__link {
		@media (max-width: toEm(991.98)) {}
	}
}

//Burger Icon
.icon-menu {
	display: none;

	@media (max-width: toEm(991.98)) {
		display: block;
		position: relative;
		width: toRem(30);
		height: toRem(18);
		z-index: 5;

		@media (any-hover: none) {
			cursor: default;
		}

		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: 2px;
			border-radius: 3px;
			background-color: #a7d3ff;
		}

		&::before {
			top: 0;
		}

		&::after {
			bottom: 0;
		}

		span {
			top: calc(50% - 1px);
		}

		[data-fls-menu-open] & {
			span {
				width: 0;
			}

			&::before,
			&::after {}

			&::before {
				top: calc(50% - 1px);
				transform: rotate(-45deg);
			}

			&::after {
				bottom: calc(50% - 1px);
				transform: rotate(45deg);
			}
		}
	}
}