.report {

	&__hero {}
}

.hero-report {
	margin-top: 140px;
	padding-bottom: 80px;

	&__box {
		max-width: 1700px;
		margin: 0 auto;
		padding-left: 15px;
		padding-right: 15px;
	}

	&__body {
		position: relative;
		border-radius: 24px;
		overflow: hidden;
		aspect-ratio: 16 / 8;
		border: 1px solid rgba(255, 255, 255, 0.1);
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		padding: 60px;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 2;
			background: linear-gradient(90deg, rgba(8, 16, 28, 1) 0%, rgba(8, 16, 28, 0.13) 40%, rgba(8, 16, 28, 0) 100%);
		}

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}

	&__content {
		position: relative;
		z-index: 3;
		max-width: 1100px;

		h1 {
			font-weight: 600;
			font-size: 56px;
			line-height: 130%;
			background: -webkit-linear-gradient(0deg, #8ec6ff, #edf6ff);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			margin-top: 8px;

			&:not(:last-child) {
				margin-bottom: 20px;
			}
		}

		p {
			font-size: 40px;
			line-height: 120%;
			background: -webkit-linear-gradient(0deg, #8ec6ff, #edf6ff);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;

			&:not(:last-child) {
				margin-bottom: 30px;
			}
		}
	}
}

//========================================================================================================================================================
.report {

	&__download {}
}

.download-report {
	padding-top: 100px;
	padding-bottom: 100px;

	&__container {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 40px;
	}

	&__title {
		font-size: 32px;
		font-weight: 700;
		background: -webkit-linear-gradient(0deg, #8ec6ff, #edf6ff);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	&__button {
		span {
			display: flex !important;
			align-items: center;
			gap: 10px;

			svg {
				width: 18px;
				height: auto;
				object-fit: contain;

				path {
					fill: #b7d9fc;
				}
			}
		}

	}
}