<input data-fls-input autocomplete="off" type="text" name="form[]" data-error="Помилка" placeholder="Введіть..." class="input">
<input data-fls-input data-fls-input-mask="+38(999) 999-9999" autocomplete="off" type="text" name="form[]" data-error="Помилка" placeholder placeholder="Введіть..." class="input">
<textarea data-fls-input autocomplete="off" name="form[]" placeholder="Введіть..." data-error="Помилка" class="input"></textarea>
<textarea data-fls-input data-fls-input-autoheight autocomplete="off" name="form[]" placeholder="Введіть..." data-error="Помилка" class="input"></textarea>