//<INPUT>
// Сніппет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.input {
	border-radius: 10px;
	overflow: hidden;
	width: 100%;
	display: block;
	outline: none;
	padding: 10px;
	// border: 1px solid #eee;
	background-color: #060e1b;
	caret-color: inherit;
	&.--form-focus {
	}
	&.--form-error {
	}
}
.input[placeholder]:not([data-fls-placeholder-nohiden]) {
	&::placeholder {
		transition: all 0.3s;
	}
	&:focus::placeholder {
		opacity: 0;
	}
}
textarea.input {
	padding: 20px;
	resize: vertical;
	resize: none;
	min-height: 200px;
}
