<section class="subscribe" data-fls-download>
	<div class="line">
		<span></span>
	</div>
	<div class="subscribe__container">
		<div class="subscribe__title" data-fls-watcher-once data-fls-watcher>Download Report</div>
		<form class="subscribe__form" action="files/sendmail/sendmail.php" method="POST" data-fls-form="dev" data-fls-form-popup="subsc-popup"><div class="bt-spinner"></div>
			<div class="subscribe__form-item" data-fls-watcher-once data-fls-watcher>
				<p>report 2026.pdf</p>
				<!-- <input type="email" name="form[email]" placeholder="E-mail" class="input" required> -->
				<!-- <button type="submit" >Download</button> -->
				<a href="" class="button" download="">Download</a>
			</div>
		</form>
	</div>
	<div class="line">
		<span class="_to-right"></span>
	</div>
</section>