// .menu {
// 	// .menu__icon
// 	&__icon {
// 	}
// 	// .menu__body
// 	&__body {
// 		@media (max-width: toEm($mobile)) {
// 			position: fixed;
// 			width: 100%;
// 			height: 100svh;
// 			left: -100%;
// 			top: 0;
// 			overflow: auto;
// 			padding: 50px 15px 30px 15px;
// 			transition: left 0.3s;
// 			&::before {
// 				content: "";
// 				position: fixed;
// 				width: 100%;
// 				height: 70px;
// 				left: -100%;
// 				top: 0;
// 				transition: left 0.3s;
// 				z-index: 2;
// 			}
// 			[data-fls-menu-open] & {
// 				left: 0;
// 				&::before {
// 					left: 0;
// 				}
// 			}
// 		}
// 	}
// 	// .menu__list
// 	&__list {
// 		@media (max-width: toEm($mobile)) {
// 		}
// 	}
// 	// .menu__item
// 	&__item {
// 	}
// 	// .menu__link
// 	&__link {
// 		@media (max-width: toEm($mobile)) {
// 		}
// 	}
// }

// //Burger Icon
// .icon-menu {
// 	display: none;
// 	@media (max-width: toEm($mobile)) {
// 		display: block;
// 		position: relative;
// 		width: toRem(30);
// 		height: toRem(18);
// 		z-index: 5;
// 		@media (any-hover: none) {
// 			cursor: default;
// 		}
// 		span,
// 		&::before,
// 		&::after {
// 			content: "";
// 			transition: all 0.3s ease 0s;
// 			right: 0;
// 			position: absolute;
// 			width: 100%;
// 			height: 2px;
// 			background-color: #000;
// 		}
// 		&::before {
// 			top: 0;
// 		}
// 		&::after {
// 			bottom: 0;
// 		}
// 		span {
// 			top: calc(50% - 1px);
// 		}
// 		[data-fls-menu-open] & {
// 			span {
// 				width: 0;
// 			}
// 			&::before,
// 			&::after {
// 			}
// 			&::before {
// 				top: calc(50% - 1px);
// 				transform: rotate(-45deg);
// 			}
// 			&::after {
// 				bottom: calc(50% - 1px);
// 				transform: rotate(45deg);
// 			}
// 		}
// 	}
// }
