.single {
	padding-top: 170px;
	@include adaptiveValue("padding-top", 170, 100, 0, 1919.98, 375);
	opacity: 0;
	visibility: hidden;
	transform: translateY(20px);
	transition: all 0.4s ease 0s;

	[data-fls-loaded] & {
		opacity: 1;
		visibility: visible;
		transform: translate(0, 0);
	}
}

.single-main {
	&__container {}

	&__object {
		padding: 1px;
		background: linear-gradient(180deg, rgba(168, 188, 255, 1) 0%, rgba(144, 179, 232, 0.26) 100%);
		border-radius: 10px;
		overflow: hidden;

		@media (min-width: toEm(991.98)) {
			margin-top: 0;
		}

		@media (min-width: toEm(320)) {
			@include adaptiveValue("margin-top", 50, 30, 0, 1919.98, 375);
		}
	}

	&__wrapper {
		border-radius: 10px;
		overflow: hidden;
		width: 100%;
		// height: 600px;
		aspect-ratio: 16 / 7.8;
		position: relative;

		@media (min-width: toEm(991.98)) {
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: 2;
				background: linear-gradient(180deg, rgba(181, 188, 238, 0.05) 0%, rgba(166, 196, 224, 0) 100%);
			}

			&::after {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: 3;
				background: linear-gradient(45deg, rgba(6, 13, 26, 0.8) 0%, rgba(7, 14, 26, 0) 100%);
			}
		}

		img {
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
			position: absolute;
		}
	}

	&__body {
		position: relative;
		z-index: 10;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		width: 100%;
		height: 100%;

		@media (min-width: toEm(991.98)) {
			padding: 50px 54px;
		}
	}

	&__date {
		font-weight: 500;
		font-size: 25px;
		@include adaptiveValue("font-size", 25, 14, 0, 1919.98, 375);
		background: -webkit-linear-gradient(0deg, #8ec6ff, #edf6ff);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		display: inline-block;
	}

	&__title {
		margin-top: 30px;
		@include adaptiveValue("margin-top", 30, 20, 0, 1919.98, 375);

		font-weight: 500;
		@include adaptiveValue("font-size", 50, 24, 0, 1919.98, 375);
		max-width: 768px;
		line-height: 130%;
		background: -webkit-linear-gradient(0deg, #8ec6ff, #edf6ff);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}

.single-main-info {
	@include adaptiveValue("margin-top", 50, 30, 0, 1919.98, 375);

	&__container {}

	&__object {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 50, 20, 0, 1919.98, 375);
		}
	}
}

.single-item {
	font-weight: 500;

	&__title {
		background: -webkit-linear-gradient(0deg, #8ec6ff, #edf6ff);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		@include adaptiveValue("font-size", 30, 18, 0, 1919.98, 375);
	}

	&__info {
		line-height: 150%;
		@include adaptiveValue("font-size", 20, 14, 0, 1919.98, 375);

		@include adaptiveValue("margin-top", 30, 20, 0, 1919.98, 375);

		p {
			&:not(:last-child) {
				margin-bottom: 20px;
			}
		}
	}
}

.single-items {
	@include adaptiveValue("margin-top", 100, 50, 0, 1919.98, 375);

	&__container {}
}

.single-item {
	@include adaptiveValue("padding-top", 100, 50, 0, 1919.98, 375);
	@include adaptiveValue("padding-bottom", 100, 50, 0, 1919.98, 375);

	&__object {}

	&__object-list {
		@include adaptiveValue("padding-top", 100, 50, 0, 1919.98, 375);
		@include adaptiveValue("padding-bottom", 100, 50, 0, 1919.98, 375);
	}

	&__title {}

	&__info {}
}

.single-item__object {
	&:not(:last-child) {
		@include adaptiveValue("margin-bottom", 50, 20, 0, 1919.98, 375);
	}
}

ul.list-single {
	@include adaptiveValue("margin-top", 30, 20, 0, 1919.98, 375);

	li {
		display: flex;
		gap: 10px;
		line-height: 130%;
		align-items: flex-start;
		@include adaptiveValue("font-size", 20, 14, 0, 1919.98, 375);

		font-weight: 500;
		line-height: 160%;

		span {
			border-radius: 50%;
			background: linear-gradient(180deg, rgba(181, 188, 238, 1) 0%, rgba(166, 196, 224, 0.171) 100%);
			position: relative;

			@media (min-width: toEm(320)) {
				width: 16px;
				height: 16px;
				flex: 0 0 16px;
				top: 4px;
			}

			@media (min-width: toEm(767.98)) {
				width: 20px;
				height: 20px;
				flex: 0 0 20px;
				top: 3px;
			}

			@media (min-width: toEm(991.98)) {
				width: 26px;
				height: 26px;
				flex: 0 0 26px;
				top: 2px;
			}

			&::before {
				z-index: 1;
				content: "";
				position: absolute;
				top: 1px;
				border-radius: 50%;
				background-color: #0b1321;
				left: 1px;
				width: calc(100% - 2px);
				height: calc(100% - 2px);
			}

			&::after {
				content: "";
				position: absolute;
				top: 50%;
				left: 50%;
				z-index: 2;
				transform: translate(-50%, -50%);

				border-radius: 50%;
				background: linear-gradient(180deg, rgba(181, 188, 238, 0.63) 0%, rgba(166, 196, 224, 0.178) 100%);

				@media (min-width: toEm(320)) {
					width: 8px;
					height: 8px;
				}

				@media (min-width: toEm(767.98)) {
					width: 8px;
					height: 8px;
				}

				@media (min-width: toEm(991.98)) {
					width: 14px;
					height: 14px;
				}
			}
		}

		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 20, 10, 0, 1919.98, 375);
		}
	}
}

// --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
.more {
	position: relative;
	overflow: hidden;
	background-color: #ebeff7;
	@include adaptiveValue("padding-top", 100, 50, 0, 1919.98, 375);
	@include adaptiveValue("padding-bottom", 100, 50, 0, 1919.98, 375);

	.carts {
		.cart {}
	}

	&__container {}

	&__title {
		text-align: center;
		@include adaptiveValue("margin-bottom", 50, 30, 0, 1919.98, 375);
		opacity: 0;
		visibility: hidden;
		transform: translateY(20px);
		transition: all 0.4s ease 0s;

		&.--watcher-view {
			opacity: 1;
			visibility: visible;
			transform: translate(0, 0);
		}
	}

	&__body {}

	&__actions {
		@include adaptiveValue("margin-top", 50, 30, 0, 1919.98, 375);
		display: flex;
		justify-content: center;
		align-items: center;
		opacity: 0;
		visibility: hidden;
		transform: translateY(20px);
		transition: all 0.4s ease 0s;

		&.--watcher-view {
			opacity: 1;
			visibility: visible;
			transform: translate(0, 0);
		}
	}
}