.cookie {
	position: fixed;
	bottom: 30px;
	left: 20px;
	max-width: 430px;
	background: rgb(7 16 27 / 71%);
	border: 1px solid #6b7fabc4;
	z-index: 999;
	border-radius: 10px;
	overflow: hidden;
	transition: all 0.4s ease 0s;

	&.remove {
		transform: translateY(100%);
		opacity: 0;
	}

	@media (max-width: 576.98px) {
		width: 100%;
		max-width: 100%;
		bottom: 0;
		left: 0;
		border-radius: 0;
	}

	&::before {
		content: "";
		backdrop-filter: blur(4px);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&__wrapper {
		display: flex;
		align-items: center;
		gap: 15px;
		position: relative;
		z-index: 10;
		padding: 14px 20px;

		@media (max-width: 576.98px) {
			gap: 18px;
			padding: 10px;
		}
	}

	&__info {
		font-weight: 500;
		font-size: 13px;
		line-height: 140%;
		color: #E4F2FF;
	}

	&__btn {
		padding: 6px 14px;
		background: radial-gradient(circle, rgb(7, 16, 29) 0%, rgba(0, 53, 88, 0) 260%);
		border: 2px solid #003558;
		border-radius: 20px;
		color: #A7D3FF;
		font-weight: 500;
		font-size: 13px;
		transition: all 0.4s ease 0s;
		cursor: pointer;

		@media (any-hover: hover) {
			&:hover {
				box-shadow: 0px 0px 6px 1px rgb(60 200 156);
				// border: 2px solid $accentColor;
				// color: $accentColor;
			}
		}
	}
}