.pnf {
	&__icon {
		width: 100%;

		img {
			// max-width: 477px;
			object-fit: contain;
			object-position: center;
			height: auto;
			max-width: 100%;
			@include adaptiveValue("width", 700, 320, 0, 1919.98, 275);
		}

		opacity: 0;
		visibility: hidden;
		transform: translateY(20px);
		transition: all 0.3s;

		[data-fls-loaded] & {
			opacity: 1;
			visibility: visible;
			transform: translate(0, 0);
		}

	}

	&__title {
		margin-top: 20px;
		background: -webkit-linear-gradient(0deg, #8ec6ff, #edf6ff);
		-webkit-background-clip: text;
		line-height: 130%;
		-webkit-text-fill-color: transparent;
		font-weight: 500;
		@include adaptiveValue("font-size", 70, 34, 0, 1919.98, 275);

		opacity: 0;
		visibility: hidden;
		transform: translateY(20px);
		transition: all 0.4s ease .1s;

		[data-fls-loaded] & {
			opacity: 1;
			visibility: visible;
			transform: translate(0, 0);
		}
	}

	&__info {
		@include adaptiveValue("font-size", 17, 14, 0, 1919.98, 275);

		font-weight: 500;
		max-width: 521px;
		margin: 0 auto;
		line-height: 130%;
		margin-top: 20px;
		opacity: 0;
		visibility: hidden;
		transform: translateY(20px);
		transition: all 0.4s ease .2s;

		[data-fls-loaded] & {
			opacity: 1;
			visibility: visible;
			transform: translate(0, 0);
		}
	}

	&__action {
		margin-top: 50px;
		opacity: 0;
		visibility: hidden;
		transform: translateY(20px);
		transition: all 0.4s ease .3s;

		[data-fls-loaded] & {
			opacity: 1;
			visibility: visible;
			transform: translate(0, 0);
		}
	}
}

.header {
	&__link {}
}

.page--pnf {
	min-height: 100vh;
	overflow: hidden;

	// margin-top: 60px;
	// margin-bottom: 60px;
	// padding-bottom: 100px;
	// padding-top: 80px;
	margin-top: 0;
	padding-top: 100px;
	padding-bottom: 100px;
	display: flex;
	text-align: center;
	flex-direction: column;
	position: relative;

	.page__container {
		position: relative;
		z-index: 10;
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

footer {
	margin-top: 0 !important;
}

// --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------